@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{vertical-align: top;}
a{text-decoration: none;}

.clearfix:after{
	content: "";
	display:block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float:right;
}
em{
	font-style: normal;
}
.gWidth{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
