@charset "utf-8";
a{
    color: #000;
}
/* 头部 */
.head{
    height: 100px;
    background-color: #000000;
}
.head .top .logo{
    width: 138px;
    height: 30px;
    margin-top: 35px;
    margin-right: 278px;
}
.head .top .nav ul li{
    width: 110px;
    float: left;
    font-size: 16px;
    line-height: 100px;
    color:#FFFFFF;
}
.head .top .nav ul li:nth-child(1) , .head .top .nav ul li:nth-child(2){
    width: 85px;
}
.head .top .nav ul li a span{
    margin-left: 3px;
    display: none;
}
.head .top .nav ul li a{
    color:#FFFFFF;
}
.head .top .nav ul .active a{
    color:#FF6666;
}
.head .top .nav ul .active a span{
    display: block;
}
.head .top .nav ul li a:hover{
    color:#FF6666;
}
.head .top .nav ul li a:hover span{
    display: block;
}
.head .sou{
    position: relative;
    width: 200px;
    height: 38px;
}
.head .sou input{
    width: 190px;
    height: 38px;
    background: #7F7C85;
    float: right;
    color: #fff;
    margin-top: 35px;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
}
.head .sou span{
    color:white;
    position: absolute;
    right:7px;top:48px;
}
.centen h4{
    height: 56px;
    font-family: '宋体';
    font-size: 16px;
    line-height: 56px;
    color: #666666;
}
.centen h4 span{
    font-size: 5px;
    padding: 0 5px;
}
.centen h4 strong{
    color: #000; 
}
.centen p{
    height: 115px;
    font-family: '宋体';
    font-size: 34px;
    line-height: 115px;
}
.centen .u1{
    height: 80px;
    border-bottom: 1px solid #D6D4D4;
}
.centen .u1 li{
    width: 142px;
    height: 80px;
    font-family: '宋体';
    font-size: 16px;
    line-height: 80px;
}
.centen .u1 li a{
    display: inline-block;
    width: 64px;
    height: 80px;
}
.centen .u1 li span{
    border-bottom: 4px solid #4B1E78;
    padding-bottom: 28px;
}
.zh_top{
    position: relative;
}
.centen .cen_zh .zh_top p{
    height: 120px;
    font-size: 30px;
    line-height: 200px;
    text-align: center;
}
.zh_top h4{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: absolute;
    top: 120px;left: 590px;
}
.cen_lt{
    width: 598px;
    height: 2616px;
    float: left;
}
.cen_zh .cen_lt ul{
    margin-left: 27px;
    margin-top: 119px;
}
.centen{
    margin-bottom: 150px;
}
.centen .cen_zh .cen_lt ul li{
    height: 248px;
    font-size: 16px;
    line-height: 248px;
    position: relative;
}
.centen .cen_zh .cen_lt ul li img{
    margin-top: 64px;
    margin-right: 12px;
}
.cen_zh .cen_lt ul li p{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: absolute;
    top: 115px;right: -12px;
}
.cen_zh .cen_rt{
    float: left;
    width: 598px;
    height: 2615px;
    border-left:4px solid #E5E5E5 ;
    padding-left: 20px;
    box-sizing: border-box;
}
.centen .cen_zh .cen_rt ul li{
    height: 248px;
    font-size: 16px;
    line-height: 248px;
    position: relative;
}
.centen .cen_zh .cen_rt ul li img{
    margin-top: 64px;
    margin-left: 2px;
}
.cen_zh .cen_rt ul li p{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: absolute;
    top: 115px;left: -32px;
}
/* 底部 */
.footer{
    height: 500px;
    background-color: #000000;
    padding-top: 63px;
    box-sizing: border-box;
}
.footer .ul1{
    margin-left: 23px;
}
.footer .ul1>li{
    float: left;
    width: 180px;
    margin-right: 114px;
}
.footer .ul1>li h5{
    font-size: 18px;
    color:#FFFFFF;
    line-height: 34px;
}
.footer .ul1>li .ul2 li{
    font-size: 12px;
    line-height: 30px;
    color:#FFFFFF;
}
.footer .ul1>li .ul2 li a{
    color:#FFFFFF;
}
.footer .ul3{
    margin-top: -110px;
}
.footer .ul3 h5{
    font-size: 18px;
    color:#FFFFFF;
    line-height: 34px;
}
.footer .ul3 a{
    font-size: 12px;
    line-height: 30px;
    color:#FFFFFF;
}
.footer .p1{
    font-size: 16px;
    color:#999999;
    margin-left: 23px;
    margin-top: 105px;
}