@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1584965598018'); /* IE9 */
  src: url('iconfont.eot?t=1584965598018#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABqwAAAKVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBFIEnATYCJAMMCwgABCAFhG0HNRvsBciemjwpESSEAMVsCQgcY/Hw3xr7+2ZmF3GNdE8kkmjikGiURILWtRMihypfSthB//JTc04JTOfkXU55rKC5mzxsmOAPTx1/Vm0g5z8rgAGX05+WBTIPKKe1t24KMMGA9sYo4EAKJEFvGLvgBd4n0G5aOLODwvJ6YKuwlwXijjBKYFuIKQortgp1w94inlRa00O6BTxG34//YsOWpMrstUe3BRqQ/W3+dzH3NX0uA0KcAA9XyNgEFOK6MXfKQjCuhXadZXd1rQhpqWSDSGZoaucPjySImt3YCVZRIvHtkTg//oqnbsygTgpLgF3MDo5JomvIgt4/P9lrH6of+jxOevjZ+PTW9PwrO/u1vmF5e2v3+NRbzeDVf0zgQtCKXrcSHL4Nrm/6W9/cVPd3sz6S6tAm8G0OKaTf1JnsNyYbQmnxdbNX1zdsX6ut7bPrUUIYLVAAaC5m+QYA0kf6/Jm/cfhVbSN3Sf/f6lDA585fItXwfKsEk/+6lgJolOBK256LJvNkViCbn+hJQAkParJD/b5ONw3dXiG0GsqQtJhC1mqRLOwmKh22UGu1jXYbig53GMCzEKUN64YBQq89JN3ekfW6Iwv7BZVhn6j1hgXaHYfHmR2Wg9jn8UgpIg1UtUOipibsOkX7uLkWMZJByeeVEa8R8QJJwpjI6HKxCJkQv8QGoYWJFUUMMU+NsBA8hgwGClme6pBajNSKIpsaFYWbXhSppkZgbx8PURIhGpBKO4hQo0xwMFxkX/l8LYQhMVDiO7rq4o0QnoCMDsWIFD2ALNKZBnU9yjOCFoxYIhEGYTzKCCoEsxADAwpim2fpIGqiSNoJGVaqKGcQHqqL3N5g/IFS1od9VY4UOYr6nkqCRM0lFgAAAAA=') format('woff2'),
  url('iconfont.woff?t=1584965598018') format('woff'),
  url('iconfont.ttf?t=1584965598018') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1584965598018#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e624";
}

.icon-up:before {
  content: "\e502";
}

